/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,300&display=swap");

/*Vars*/

:root {
  --c-primary: #14e4cd;
  --c-primary-light: #e5f5fc;
  --c-secondary: #12c4e7;
  --c-dark: #0c343b;
  --c-white: #fff;
  --f-primary: "Open Sans", sans-serif;
  --fw-normal: 300;
  --fw-bold: 600;
  --fs-title-l: 60px;
  --fs-title-md: 40px;
  --fs-title-sm: 24px;
}

body {
  font-family: var(--f-primary);
  font-size: 16px;
  color: var(--c-dark);
}

a {
  color: var(--c-secondary);
  text-decoration: none;
}

/*Buttons*/

.btn {
  border: none;
  border-radius: 4px;
  box-shadow: none;
  padding: 1rem;
  font-weight: var(--fw-bold);

  &--primary {
    background: var(--c-primary);
    color: var(--c-dark);
  }
}

/* Hacks */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
