.header {
  background-color: var(--c-primary-light);
  &__wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    h1 {
      display: flex;
      width: 40px;
    }
  }
}

.main-nav {
  ul {
    list-style: none;
    display: flex;
  }

  &__item a {
    font-weight: var(--fw-bold);
    padding: 0 30px;
  }
}
